<ion-view title="My Purchases" id="page4">
  <ion-content class="has-header">
    <div class="rockercoinHeader">
      <div class="logoNamed"></div>
      <div class="logo"></div>
    </div>
    <div class="intermezzoTitle">
      My Purchases
    </div>
    <div class="whiteBottomContainer" id="purchasesWhiteContainer">
      <ion-list id="myPurchases-list2">
        <ion-item class="item-thumbnail-left" id="myPurchases-list-item7" ng-click="mapsSelector()">
          <div class="imageInList" style="background-image: url(img/6fragiacomoss18_0352_-_copia.jpg)"></div>
          <div class="icon">
            <div class="markerPlaceIcon"></div>
          </div>
          <div class="info">
            <p>Fragiacomo</p>
            <p>Woman Shoes</p>
            <span>Purchased on: 12 May 2018</span>
          </div>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="myPurchases-list-item7" ng-click="mapsSelector()">
          <div class="imageInList" style="background-image: url(img/bagBlack.jpg)"></div>
          <div class="icon">
            <div class="markerPlaceIcon"></div>
          </div>
          <div class="info">
            <p>Fragiacomo</p>
            <p>Bag</p>
            <span>Purchased on: 24 Apr 2018</span>
          </div>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="myPurchases-list-item7" ng-click="mapsSelector()">
          <div class="imageInList" style="background-image: url(img/manShoes.jpg)"></div>
          <div class="icon">
            <div class="markerPlaceIcon"></div>
          </div>
          <div class="info">
            <p>Fragiacomo</p>
            <p>Man Shoes</p>
            <span>Purchased on: 06 Feb 2018</span>
          </div>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="myPurchases-list-item7" ng-click="mapsSelector()">
          <div class="imageInList" style="background-image: url(img/ciabatta.jpg)"></div>
          <div class="icon">
            <div class="markerPlaceIcon"></div>
          </div>
          <div class="info">
            <p>Fragiacomo</p>
            <p>Woman Slipper</p>
            <span>Purchased on: 15 Jan 2018</span>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>