<ion-view title="Verify" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
        <!-- ui-sref="tabsController.results()" -->
      <a style="display:block;" ng-click="startScan()">
        <img src="img/imagesqtbnANd9GcT-d0fjAhg6iOFPrhjFerXlXKkwZiwG_fsD5kgKFtL7FqwRubZHCQ" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;">
        <img src="img/RMQ-1NPvGSR0sNF4x3-EnEUTMynifLxCiFwTbQCa3UjYug3d-EqoVmh2lbC1t54DiWkw300" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>